.jupiter-active,
.jupiter-active:hover,
.jupiter-active:active {
  color: var(--white) !important;
  border-bottom: 4px solid var(--jupiter-clr);
}

.jupiter-inactive {
  transition: all 0.3s;
}
.jupiter-inactive:hover {
  color: var(--white);
  border-bottom: 4px solid var(--jupiter-clr);
}

.jupiter-active-desk,
.jupiter-active-desk:hover,
.jupiter-active-desk:active {
  color: var(--white) !important;
  background-color: var(--jupiter-clr);
  border: 1px solid var(--jupiter-clr) !important;
}
