.mars-active,
.mars-active:hover,
.mars-active:active {
  color: var(--white) !important;
  border-bottom: 4px solid var(--mars-clr);
}

.mars-inactive {
  transition: all 0.3s;
}
.mars-inactive:hover {
  color: var(--white);
  border-bottom: 4px solid var(--mars-clr);
}

.mars-active-desk,
.mars-active-desk:hover,
.mars-active-desk:active {
  color: var(--white) !important;
  background-color: var(--mars-clr);
  border: 1px solid var(--mars-clr) !important;
}
