.mercury-active,
.mercury-active:hover,
.mercury-active:active {
  color: var(--white) !important;
  border-bottom: 4px solid var(--mercury-clr);
}

.mercury-inactive {
  transition: all 0.3s;
}
.mercury-inactive:hover {
  color: var(--white);
  border-bottom: 4px solid var(--mercury-clr);
}
