.neptune-active,
.neptune-active:hover,
.neptune-active:active {
  color: var(--white) !important;
  border-bottom: 4px solid var(--neptune-clr);
}

.neptune-inactive {
  transition: all 0.3s;
}
.neptune-inactive:hover {
  color: var(--white);
  border-bottom: 4px solid var(--neptune-clr);
}

.neptune-active-desk,
.neptune-active-desk:hover,
.neptune-active-desk:active {
  color: var(--white) !important;
  background-color: var(--neptune-clr);
  border: 1px solid var(--neptune-clr) !important;
}
