.venus-active,
.venus-active:hover,
.venus-active:active {
  color: var(--white) !important;
  border-bottom: 4px solid var(--venus-clr);
}

.venus-inactive {
  transition: all 0.3s;
}
.venus-inactive:hover {
  color: var(--white);
  border-bottom: 4px solid var(--venus-clr);
}

.venus-active-desk,
.venus-active-desk:hover,
.venus-active-desk:active {
  color: var(--white) !important;
  background-color: var(--venus-clr);
  border: 1px solid var(--venus-clr) !important;
}
