.title {
  color: var(--white);
  font-size: 2.8rem;
  font-family: "Antonio", sans-serif;
}

.header-cont {
  padding: 1.5em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: relative;
}

@media (min-width: 48em) {
  .header-nav {
    flex-direction: column;
    gap: 3em;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 90em) {
  .title {
    font-size: 2.2rem;
  }
  .header-nav {
    width: 97%;
    flex-direction: row;
  }
}
