.inner-nav-cont {
  display: none;
  padding: 2em 0;
  grid-row: 2;
  grid-column: 2;
}

.inner-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inner-nav-text {
  display: flex;
  gap: 1.5em;
}

.inner-nav-number {
  color: rgba(255, 255, 255, 0.5);
}

.inner-nav a {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.9px;
  text-decoration: none;
  padding: 1em;
  padding-left: 2em;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 48em) {
  .inner-nav-cont {
    display: block;
  }
}
