.img-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-displays {
  position: relative;
  height: 300px;
}

.planet-img {
  transform: scale(0.4);
}
.surface-display {
  position: absolute;
}

.surface-img {
  position: absolute;
  width: 9rem;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 120%);
}

@media (min-width: 48em) {
  .img-displays {
    margin: 6em 0;
    grid-column: 1/3;
  }

  .planet-img {
    transform: scale(0.63);
  }

  .surface-img {
    transform: translate(-50%, 145%);
  }
}

@media (min-width: 90em) {
  .img-displays {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .planet-img {
    transform: scale(1);
  }

  .surface-img {
    width: 12rem;
  }
}
