.display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.display-text h1 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
}

.display-text p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.source {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.source p {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.4);
}

.source a {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 48em) {
  .display-text {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .desc {
    height: 121px;
  }

  .display-text p {
    font-size: 1.4rem;
    text-align: left;
  }
}
