.planet-display-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.display-text h1 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
}

.display-text p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.img-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.source {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.source p {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.4);
}

.source a {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

.img-displays {
  position: relative;
  height: 300px;
}

.planet-img {
  transform: scale(0.4);
}

.surface-display {
  position: absolute;
}

.surface-img {
  position: absolute;
  width: 9rem;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 120%);
}
