.planet-display-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.display-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.display-text h1 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
}

.display-text p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.source {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.source p {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.4);
}

.source a {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

.planet-img {
  width: 50%;
}

.surface-img {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  transform: translate(150%, 110%);
}
